.registerForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
}

.registerTitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 700;
}

.registerLabel {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.registerInput {
    width: 300px;
    height: 30px;
    margin-left: auto;
    padding: 0 5px;
    border: 2px solid grey;
    border-radius: 3px;

    &:hover,
    &:focus {
        border: 2px solid skyblue; 
    }
}

.registerButton {
    width: 120px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    background-color: #3f51b5;
    color: white;
    border: 1px solid grey;
    border-radius: 3px;

    &:hover,
    &:focus {
        background-color: #303f9f;
        scale: 1.05;
    }
}